
.section1.order .htitle {
  margin-bottom: 37px;
}

.section1.order .rt .htitle {
  margin-bottom: 12px;
}

.section1.order .rt .htitle {
  
}

.order_tab .focus.bts .btn {
    box-shadow: 0 5px 77px rgba(77,136,245,.38);
    -webkit-box-shadow: 0 5px 77px rgba(77,136,245,.38);
}

