
.svg-wrap { position: relative; }
.svg-wrap svg { width: 100%; }
.def, .hov { 
	display: block; position: absolute; width: 100%; top: 0; left: 0; 
	transition: opacity 0.4s linear;
	-ms-transition: opacity 0.4s linear;
	-webkit-transition: opacity 0.4s linear;
}
.svg.hov, .svg-wrap:hover .svg.def { opacity: 0; }
.svg-wrap:hover .svg.hov { opacity: 1; }

.cls-1{fill:#c5cad3;}
.cls-h-1{fill:#2d79e5;}
.cls-m1{fill:#2d79e5;}
.cls-m2{fill:#fcb959;}
.cls-m3{fill:#f59a8d;}
.cls-m4{fill:#43b0af;}
.cls-m5{fill:#9d76b6;}

.cls-2{fill:none;stroke:#c5cad3;stroke-miterlimit:10;stroke-width:2px;}
.cls-h-2{fill:none;stroke:#2d79e5;stroke-miterlimit:10;stroke-width:2px;}

.cls-3{fill:#c5cad3;}
.cls-4{fill:none;stroke:#c5cad3;stroke-miterlimit:10;stroke-width:2px;}
.cls-h-3{fill:#2d79e5;}
.cls-h-4{fill:none;stroke:#2d79e5;stroke-miterlimit:10;stroke-width:2px;}

.zm-1{fill:none;stroke:#c5cad3;stroke-miterlimit:10;stroke-width:2px;}
.zm-h-1{fill:none;stroke:#2d79e5;stroke-miterlimit:10;stroke-width:2px;}

.add-1{fill:none;stroke:#c5cad3;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.add-2{fill:#c5cad3;}
.add-3{fill:#fff;}

.add-h-1{fill:none;stroke:#2d79e5;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.add-h-2{fill:#2d79e5;}
.add-h-3{fill:#fff;}

.g-1{fill:none;stroke:#c5cad3;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.g-2{fill:#c5cad3;}

.g-h-1{fill:none;stroke:#2d79e5;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.g-h-2{fill:#2d79e5;}

.gr-1,.gr-2{fill:#c5cad3;}
.gr-2{stroke:#fff;stroke-miterlimit:10;}
.gr-h-1,.gr-h-2{fill:#2d79e5;}
.gr-h-2{stroke:#fff;stroke-miterlimit:10;}

.p-1{fill:none;stroke:#c5cad3;stroke-miterlimit:10;stroke-width:2px;}
.p-2{fill:#c5cad3;}
.p-h-1{fill:none;stroke:#2d79e5;stroke-miterlimit:10;stroke-width:2px;}
.p-h-2{fill:#2d79e5;}

.bon-1,.bon-3{fill:none;stroke-miterlimit:10;stroke-width:2px;}
.bon-1{stroke:#c5cad3;}
.bon-1,.bon-2,.bon-3{fill-rule:evenodd;}
.bon-2{fill:#c5cad3;}
.bon-3{stroke:#000;}

.bon-h-1,.bon-h-3{fill:none;stroke-miterlimit:10;stroke-width:2px;}
.bon-h-1{stroke:#2d79e5;}
.bon-h-1,.bon-h-2,.bon-h-3{fill-rule:evenodd;}
.bon-h-2{fill:#2d79e5;}
.bon-h-3{stroke:#000;}


.bn-1{fill:#c5cad3;}
.bn-1,.bn-2,.bn-3{fill-rule:evenodd;}
.bn-2{fill:#fff;}
.bn-3{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}

.e-1{fill:#c5cad3;}
.e-2{fill:#fff;}

.a-1{fill:#c5cad3;}
.a-2{fill:#f7f9fb;}

.pay-1{fill:#c5cad3;}
.pay-2{fill:#fff;}

.ads-1{fill:#c5cad3;}
.ads-2{fill:#fff;fill-rule:evenodd;}

.dt-1{fill:#c5cad3;}
.dt-2{fill:#fff;}

.f-1{fill:#2d79e5;}

.un-1{fill:#f59a8d;}

.ch-1{fill:#43b0af;}

.n-1-1{fill:#c5cad3;}
.n-1-2{fill:#fff;}

.n-2-1{fill:#c5cad3;}
.n-2-2{fill:#fff;}

.n-3-1{fill:#c5cad3;}
.n-3-2{fill:#fff;}

.mon{fill:#43b0af;}

.nw-1,.nw-3{fill:none;stroke-miterlimit:10;stroke-width:2px;}
.nw-1{stroke:#c5cad3;}
.nw-2{fill:#c5cad3;}
.nw-3{stroke:#fff;}

.nw-h-1,.nw-h-3{fill:none;stroke-miterlimit:10;stroke-width:2px;}
.nw-h-1{stroke:#2d79e5;}
.nw-h-2{fill:#2d79e5;}
.nw-h-3{stroke:#fff;}

.cht-1,
.cht-2{fill:#c5cad3;}
.cht-2{stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}
.cht-3{fill:#fff;}

.star-y-1{fill:none;stroke:#fcb959;stroke-miterlimit:10;stroke-width:2px;}
.star-ya-1{fill:#fcb959;}

.star-r-1{fill:none;stroke:#f59a8d;stroke-miterlimit:10;stroke-width:2px;}
.star-ra-1{fill:#f59a8d;}

.star-g-1{fill:none;stroke:#43b0af;stroke-miterlimit:10;stroke-width:2px;}
.star-ga-1{fill:#43b0af;}

.star-b-1{fill:none;stroke:#2d79e5;stroke-miterlimit:10;stroke-width:2px;}
.star-ba-1{fill:#2d79e5;}

.t-1{fill:#c5cad3;}
.t-2{fill:none;stroke:#c5cad3;stroke-miterlimit:10;stroke-width:2px;}
.t-h-1{fill:#2d79e5;}
.t-h-2{fill:none;stroke:#2d79e5;stroke-miterlimit:10;stroke-width:2px;}