/* --------------------
    Menu Left
    ------------------- */

.menu-sidebar {
    padding-bottom: 110px;
    background-color: $col-w;
    text-align: center;
    height: 100% !important;
    z-index: 999;

    &.collapse {
        display: block !important;
    }

    @include mobile {
        @include transition(all, 0.2s, linear);
        //display: none;
        //width: 275px;
        width: 100%;
        bottom: 0;
        padding: 25px 0 0 0;
        left: -100%;
        height: auto !important;
        text-align: center;

        &.in {
            //display: block;
            left: 0;
            box-shadow: 0px 0px 40px 0px rgba(75, 84, 97, 0.15);
            -webkit-box-shadow: 0px 0px 40px 0px rgba(75, 84, 97, 0.15);
            z-index: 9999;
        }
    }

    @include mobile-320 {
        left: -320px;
        width: 320px;
    }
}

.menu-left {
    
    li {
        padding-top: 24px;

        a {
            display: block;

            &:hover {
                text-decoration: none;
                color: #32394d;
            }
        }

        .ico {
            position: relative;
            display: block;
            width: 53px;
            height: 53px;
            margin: auto;
            
            &:before, &:after {
                @extend .ps;
                @extend .border-circ;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.1;

                transition: transform 1.0s linear, opacity 0.7s ease;
                -ms-transition: transform 1.0s linear, opacity 0.7s ease;
                -webkit-transition: transform 1.0s linear, opacity 0.7s ease;
            }

            &:before {
                opacity: 0;
            }

            b {
                display: table-cell;
                vertical-align: middle;
                padding-top: 1px;
                width: 53px;
                height: 53px;

                @include ie10 {
                    display: block;
                }
            }

            svg {
                width: 23px;
            }
        }

        span {  
            display: block;
            padding-top: 12px;
            color: $col-font;
        }
    }

    li:nth-child(1) {
        padding-top: 17px;
    }

    li:nth-child(1) .ico:before, li:nth-child(1) .ico:after {
        background: rgb(46,45,235);
        background-image: -moz-linear-gradient( 90deg, rgb(46,45,235) 0%, rgb(21,113,238) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(46,45,235) 0%, rgb(21,113,238) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(46,45,235) 0%, rgb(21,113,238) 100%);
    }

    li:nth-child(2) .ico:before, li:nth-child(2) .ico:after {
        background: rgb(255,182,77);
        background-image: -webkit-linear-gradient(274deg, rgb(255,182,77) 0%, rgb(255,216,0) 100%);
        background-image: -o-linear-gradient(274deg, rgb(255,182,77) 0%, rgb(255,216,0) 100%);
        background-image: linear-gradient(4deg, rgb(255,182,77) 0%, rgb(255,216,0) 100%);
    }

    li:nth-child(3) .ico:before, li:nth-child(3) .ico:after {
        background: rgb(254,181,140);
        background-image: -webkit-linear-gradient(left, rgb(254,181,140) 0%, rgb(235,119,143) 100%);
        background-image: -o-linear-gradient(left, rgb(254,181,140) 0%, rgb(235,119,143) 100%);
        background-image: linear-gradient(to right, rgb(254,181,140) 0%, rgb(235,119,143) 100%);
    }

    li:nth-child(4) i b {
        padding-top: 3px;
    }

    li:nth-child(4) .ico:before, li:nth-child(4) .ico:after {
        background: rgb(64,139,189);
        background-image: -webkit-linear-gradient(left, rgb(64,139,189) 0%, rgb(69,202,165) 100%);
        background-image: -o-linear-gradient(left, rgb(64,139,189) 0%, rgb(69,202,165) 100%);
        background-image: linear-gradient(to right, rgb(64,139,189) 0%, rgb(69,202,165) 100%);
    }

    li:nth-child(5) .ico:before, li:nth-child(5) .ico:after {
        background: rgb(46,45,235);
        background-image: -webkit-linear-gradient(left, rgb(46,45,235) 0%, rgb(213,73,148) 100%);
        background-image: -o-linear-gradient(left, rgb(46,45,235) 0%, rgb(213,73,148) 100%);
        background-image: linear-gradient(to right, rgb(46,45,235) 0%, rgb(213,73,148) 100%);
    }
}

.no-touchevents .menu-left {

    li:hover .ico:after {
        opacity: 0;
    }

    li:hover .ico:before {
        @include rot(360deg);
        opacity: 0.35;
    }
}




.profile, .login {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 16px;
    padding: 0;
    cursor: pointer;

    .profile-avatar, .avatar {
        @extend .border-circ;
        width: 58px;
        height: 58px;
        margin: auto;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .profile-avatar {
        @extend .trans;
        border: 2px solid #fff;
    }

    span {
        padding-top: 12px;
        display: block;
        color: $col-font;
    }

    &:hover {
        text-decoration: none;

        .profile-avatar {
            border-color:$col-blue;
        }
    }
}

.menu-header, .chat-header {
    position: relative;
    text-align: left;

    span {
        font-size: 20px;
        padding-left: 50px;
    }
}

.btn-menu-close, .btn-chat-close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 19px;
    cursor: pointer;
    z-index: 1;

    &:before, &:after {
        @extend .ps;
        @extend .trans;
        width: 2px;
        height: 20px;
        left: 7px;
        background-color: #6f7787;
    }

    &:before {
        @include rot(45deg);
    }

    &:after {
        @include rot(-45deg);
    }

    &:hover {
        &:before, &:after {
            background-color: $col-font;
        }
    }
}

.login {
    .ico:after {
        background-color: #ccc;
    }
}

@media (max-height:620px){
    
    .menu-left li .ico, .menu-left li .ico b, .profile .profile-avatar {
        width: 40px;
        height: 40px;
    }

    .menu-left li .ico img {
        width: 20px;
    }

    .menu-left {
        
        li, li:nth-child(1) {
            padding-top: 12px;
        }
    }

    .menu-left li span {
        font-size: 11px;
    }
}

@include mobile { // Menu Mobile

    .menu-left {
        width: 310px;
        margin: auto;
    }

    .menu-left li, .profile {
        display: inline-block;
        width: 80px;
        vertical-align: top;
        margin:47px 35px 0;
        text-align: center;
        padding: 0 !important;

        span {
            white-space: nowrap;
        }

        .ico, .ico b {
            width: 80px;
            height: 80px;
        }

        .ico b {
            line-height: 1;
        }
    }

    .profile, .login {
        position: static;

        .profile-avatar {
            width: 84px;
            height: 84px;
        }
    }
}

@media (max-width: 768px) and (orientation: landscape) {

    .menu-sidebar {
        padding-top: 16px;
    }

    .menu-left {
        width: auto !important;
    }
    
    .menu-left li {
        display: block;
        padding-top: 0;
        margin-left: 19px;
        margin-top: 15px;

        a {
            padding-left: 0;
            height: auto;
            line-height: 1;
            font-size: 14px;
            text-align: left;
        }

        span {
            padding-top: 0;
        }

        .ico {
            display: none;
        }

        &.profile {
            position: absolute;

            a {
                text-align: center;
            }

            span {
                padding-top: 5px;
            }
        }
    }
}


.navbar-menu {
    position: absolute;
    z-index: 100;
    left: 13px;
    top: 25px;

    span {
        width: 20px;
        height: 2px;
        background-color: #6f7787;
    }
}

